.ghpb-well-outline {
  background-color: transparent; 
}

.ghpb-well-outline blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-well-navlist {
  padding: 8px 0;
}


.ghpb-well-navlist blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-nav-header {
  color: #999999;
}

.ghpb-post p {
  font-size: larger;
  margin-bottom: 20px;
}

/* Basic table borders */
.ghpb-post table {
    border-collapse: collapse;
    border: 1px solid black;
}

.ghpb-post th,
.ghpb-post td {
    border: 1px solid black;
    padding: 6px 10px;
}

/* Header styling */
.ghpb-post th {
    background-color: #e8d8ff; /* light purple */
    font-weight: bold;
}
